import React, { FC }  from 'react';
import styled from 'styled-components';

const {{properCase name}}: FC = props => {
    return (
        <div>TODO</div>
    );
};

export default styled({{properCase name}})``;